{{> header}}

{{#errors}}
    <p>{{errors}}</p>
{{/errors}}

<p>{{name}}, thanks for booking your <em>{{treatment}}</em> appointment!</p>
<p>You are scheduled for {{appointmentDt}} and will receive a courtesy reminder on {{number}} at {{reminderDt}}.</p>


{{> footer}}